.es-exercise {
  padding: 14px;
  .es-swiper-button-prev {
    left: -5%;
  }
  .es-swiper-button-next {
    right: -5%;
  }
  &__title {
    @include es-text-reset;
    @include es-header--secondary--mobile;
  }
  &__slides {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 450px;
  }
  &__slide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &__arrow {
    cursor: pointer;
    border: none;
    background-color: transparent;
    margin-top: 100px;
    z-index: 1;
    top: 0;
  }
  &__imgCtn {
    img {
      max-height: 100%;
    }
  }
  &__descCtn {
    padding: 20px;
  }
  &__descTitle {
    @include es-text-reset;
    text-transform: uppercase;
    font-size: 25px;
    font-family: $es-regular;
    color: $es-main-text-color;
    margin-top: 20px;
    &--bright {
      color: $es-main-text-light-color;
    }
  }
  &__descList {
    @include es-text-reset;
    margin: 0;
    padding: 0;
    color: $es-main-text-color;
    list-style: none;
  }
  &__descItem {
    @include es-text-reset;
    margin: 0;
    padding: 0;
    color: $es-main-text-color;
    font-family: $es-thin;
    &--bold {
      font-family: $es-regular;
    }
  }
}

@media (min-width: 750px) {
  .es-exercise {
    .es-swiper-button-prev {
      left: 0%;
    }
    .es-swiper-button-next {
      right: 0%;
    }
    &__title {
      @include es-header--secondary--desktop;
      text-align: center;
      sup {
        font-size: 18px;
      }
    }
    &__slides {
      align-items: center;
    }
    &__imgCtn {
      width: 45%;
      img {
        max-width: 100%;
      }
    }
    &__descCtn {
      width: 55%;
      padding-inline: 22px;
    }
    &__descList {
      padding-inline: 22px;
    }
    &__arrow {
      margin-top: unset;
      top: 50%;
    }
    &__slide {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }
  }
}
