.swiper {
  max-width: 100%;
  min-height: max-content;
}

.es-swiper-button-next {
  width: auto;
  &::after {
    display: none;
  }
}
.es-swiper-button-prev {
  width: auto;
  &::after {
    display: none;
  }
}

.es-swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}
