.es-faq {
    margin-top: 80px;
    &__title {
      @include es-text-reset;
      font-size: 25px;
      text-align: center;
      font-family: $es-title;
      color: $es-main-text-color;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    &__item {
      cursor: pointer;
      margin: 10px;
    }
    &__question {
      @include es-text-reset;
      font-family: $es-regular;
      display: flex;
      justify-content: space-between;
      align-items: center;
      text-align: center;
      width: 100%;
      background: $es-main-text-color;
      color: #fff;
      padding: 10px 20px;
      border-radius: 30px;
    }
    // &__arrow {
    // }
    &__rotate {
      transform: rotate(-180deg);
    }
    &__answer {
      @include es-text-reset;
      font-family: $es-thin;
      color: $es-main-text-color;
      padding: 0px 20px;
      margin-top: 10px;
    }
    &__answerItem {
      @include es-text-reset;
      font-family: $es-thin;
      color: $es-main-text-color;
    }
  }

  @media (min-width: 750px) {
    .es-faq {
        &__title {
          font-size: 40px;
        }
      }
  }