.es-productsDesc {
    padding: 10px;
    &__item {
      @include es-text-reset;
      font-family: $es-thin;
      color: $es-main-text-color;
      font-size: 14px;
      line-height: 1.4;
      span {
        font-family: $es-regular;
      }
      sub {
        font-size: x-small;
      }
    }
  }