.es-how {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 50px 14px;

    &::after {
      content: url(./img/es-how-happyFace.webp);
      display: block;
      position: absolute;
      right: 10%;
      bottom: -4%;
      transform: scale(0.6);
    }
    &__content {
      width: 100%;
    }
    &__title {
      @include es-text-reset;
      @include es-header--secondary--mobile;
      position: relative;
      
    }
    &__desc {
      @include es-text-reset;
      max-width: 500px;
      font-family: $es-regular;
      color: $es-main-text-color;
    }
    &__imgCtn {
      max-width: 300px;
      align-self: flex-end;
    }
    &__list {
      @include es-text--main;
    }
    // &__listItem {
    //   @include es-text-reset;
    //   font-family: $es-regular;
    //   color: $es-main-text-color;
    // }
  }

  @media (min-width: 750px) {
    .es-how {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        &::after {
          right: 10%;
          bottom: -10%;
          transform: scale(1);
        }
        &__content {
          width: 60%;
        }
        &__title {
          @include es-header--secondary--desktop;
          text-align: center;
          &::after {
            
              content: url(./img/es-how-sadFace.webp);
              display: block;
              position: absolute;
              
            
            top: 0;
            right: -10%;
            transform: scale(1);
          }
        }
        &__desc {
          font-size: 20px;
        }
        &__imgCtn {
          max-width: 400px;
        }
        &__listItem {
          font-size: 20px;
        }
      }
  }