.es-claims {
    padding: 14px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    &__title {
      @include es-text-reset;
      font-size: 16px;
      font-family: $es-title;
      color: $es-main-text-color;
    }
    &__list {
      margin: 0;
      padding: 10px;
    }
    &__claim {
      @include es-text-reset;
      font-size: 14px;
      font-family: $es-thin;
      color: $es-main-text-color;
      padding: 0 10px;
      margin-top: 5px;
      sub {
        font-size: x-small;
      }
    }
    &__warning {
      @include es-text-reset;
      @include es-text--important;
      color: $es-main-text-light-color;
    }
    &__number {
      @include es-text-reset;
      font-size: 14px;
      font-family: $es-thin;
      color: $es-main-text-color;
    }
    &__logo {
      align-self: flex-end;
    }
  }