.es-how {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  padding: 50px 14px;
  &__content {
    width: 100%;
  }

  &__title {
    @include es-text-reset;
    @include es-header--secondary--mobile;
    position: relative;

  }

  &__desc {
    @include es-text-reset;
    max-width: 500px;
    font-family: $es-regular;
    color: $es-main-text-color;
  }

  &__imgCtn {
    max-width: 50%;
    align-self: flex-end;
    margin-top: -60%;
  }

  &__list {
    @include es-text--main;
    max-width: 50%;
    position: relative;
    &::after {
    content: url(./img/es-how-happyFace.webp);
    display: block;
    position: absolute;
    left: 10%;
    bottom: -50%;
    transform: scale(0.5);
  }
  }

  // &__listItem {
  //   @include es-text-reset;
  //   font-family: $es-regular;
  //   color: $es-main-text-color;
  // }
}

@media (min-width: 750px) {
  .es-how {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
    &::after {
      content: url(./img/es-how-happyFace.webp);
      display: block;
      position: absolute;
      right: 10%;
      bottom: -10%;
      transform: scale(1);
    }

    &__content {
      width: 40%;
      margin: auto;
    }

    &__title {
      @include es-header--secondary--desktop;
      text-align: center;

    }

    &__desc {
      font-size: 20px;
    }
    
    &__imgCtn {
      max-width: 400px;
      margin-top: unset;
      position: relative;
      &::before {
        content: url(./img/es-how-sadFace.webp);
        display: block;
        position: absolute;
        top: -15%;
        left: -7%;
        transform: scale(1);
      }
    }
    &__list {
      max-width: unset;
      &::after {
        content: "";
      }
    }
    &__listItem {
      font-size: 20px;
    }
  }
}