.es-cross {
    padding: 20px;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    &__item {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      min-width: 300px;
    }
    &__img {
      max-width: 280px;
    }
    &__name {
      @include es-text-reset;
      font-family: $es-regular;
      text-align: center;
      color: $es-dark-color;
    }
    &__link {
      text-decoration: none;
      color: $es-dark-color;
      border: 2px solid $es-dark-color;
      border-radius: 20px;
      padding: 5px 20px;
      font-family: $es-regular;
      font-size: 18px;
      transition: 0.4s ease-in-out;
      &:hover {
        background-color: $es-dark-color;
        color: #fff;
      }
    }
  }