.es-articles {
    padding: 14px;
    &__title {
      @include es-text-reset;
      @include es-header--secondary--mobile;
    }
    &__ctn {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      gap: 50px;
    }
    &__item {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      min-width: 300px;
      max-width: 500px;
      min-height: 450px;
    }
    &__subtitle {
      @include es-text-reset;
      @include es-subheader--mobile;
      
      margin-top: 20px;
    }
    &__link {
      @include es-button--primary;
      width: 210px;
    }
  }

  @media (min-width: 750px) {
    .es-articles {
      &__title {
        @include es-header--secondary--desktop;
        text-align: center;
      }
    }
  }