//container for the slider, positions it in the center of a page
.es-slider__container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  
  //bounding box for the slides
.es-slider {
    width: 80%;
    max-width: 600px;
    height: 350px;
    text-align: center;
   overflow: hidden; // hide side scroll
    position: relative;
  }

  .es-slides {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    position: relative;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    scroll-snap-stop: always;
    scroll-snap-align: center;
    
  }

  .es-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    width: 100%;
    height: 400px;
    scroll-snap-align: center;
    margin-right: 0px;
    box-sizing: border-box;
    background: white;
    transform-origin: center center;
    transform: scale(1);
    
  }

  @media screen and (min-width: 850px) {
    .es-slider {
      max-width: unset;
      width: unset;
      height: unset;
      overflow: unset;
      display: block;
    }
    .es-slides {
        max-width: unset;
      width: unset;
      overflow: unset;
      display: flex;
      flex-wrap: wrap;

    }
    .es-slide {
        width: unset;
        overflow: unset;
        margin: 10px;
        height: unset;
      }
}