.es-message {
    // display: flex;
    // flex-direction: column;
    // justify-content: center;
    // align-items: center;
    padding: 14px;
    &__title {
      @include es-text-reset;
      @include es-header--secondary--mobile--light;
      text-align: left;
      position: relative;
      &:after {
        content: url(./img/kv-sun.webp);
        display: block;
        position: absolute;
        right: -150px;
        top: -50px;
        transform: scale(0.7);
        display: none;
      }
    }
    &__text {
      @include es-text-reset;
      @include es-subheader--mobile;
    }
  }

  @media (min-width: 750px) {
    .es-message {
        &__title {
          margin-bottom: 20px;
          @include es-header--secondary--desktop--light;
          text-align: center;
          &:after {
            content: url(./img/kv-sun.webp);
            display: block;
            position: absolute;
            right: -150px;
            top: -50px;
            transform: scale(0.7);
          }
        }
        &__text {
          @include es-subheader--desktop;
          text-align: center;
          margin-top: 0;
        }
      }
  }