@font-face {
    font-family: "es-Gilroy-semibold";
    src: url("./fonts/Gilroy-SemiBold.otf") format("opentype");
    font-display: auto;
  }
  @font-face {
    font-family: "es-Bliss-heavy";
    src: url("./fonts/Bliss-Heavy.otf") format("opentype");
    font-display: auto;
  }
  @font-face {
    font-family: "es-Gilroy-regular";
    src: url("./fonts/Gilroy-Regular.otf") format("opentype");
    font-displanedy: auto;
  }