$es-main-text-color: #001883;
$es-dark-color: #001e61;
$es-main-text-light-color: #78a9df;


$es-regular: "es-Gilroy-semibold";
$es-thin: "es-Gilroy-regular";
$es-title: "es-Bliss-heavy";
$es-btn--arrow--mobile: 32px;