$es-main-text-color:#001883;
$es-dark-color: #001e61;
$es-main-text-light-color: #78a9df;

@font-face {
    font-family: "es-Gilroy";
    src: url("./fonts/Gilroy-SemiBold.otf") format("opentype");
    font-display: auto;
    }
    @font-face {
        font-family: "es-Bliss-heavy";
        src: url("./fonts/Bliss-Heavy.otf") format("opentype");
        font-display: auto;
        }

        $es-regular: "es-Gilroy";
        $es-title: "es-Bliss-heavy";

    @mixin es-text-reset {
        font-size: 16px;
        line-height: 1.1;
    }
#es-sanofi.es-sanofi{
    #es-magne.es-magne{
        max-width: 1200px;
        margin: 0 auto;
        padding: 0;
        overflow: hidden;
        background-color: #fff;
        img{
            max-width: 100%;
        }
        *{
            box-sizing: border-box;
        }
        .es-kv{
            background-image: url(./img/kv-bg.webp);
            background-repeat: no-repeat;
            background-position: top left;
            background-size: contain;
            min-height: 500px;
            position: relative;
            &__nav{
                display: flex;
                justify-content: center;
                background-color: rgba(255, 255, 255, 0.678);
                border-radius: 100% 0% 48% 52% / 0% 34% 66% 100%;
                padding: 10px 5px;
                width: 100%;
            }
            &__navCtn{
                display: flex;
                flex-direction: column;
                z-index: 10;
            }
            &__navItem{
                min-width: 160px;
                text-align: center;
                list-style: none;
                padding: 10px;
            }
            &__navLink{
                @include es-text-reset;
                text-decoration: none;
                color: $es-main-text-color;
                position: relative;
                font-family: 'es-Gilroy';
                font-size: 16px;
                &::after{
                    content: '';
                    display: block;
                    position: absolute;
                    top:0;
                    left: 0;
                    height: 1.5px;
                    width: 100%;
                    background-color: $es-main-text-color;
                }
                &:nth-child(1){
                    &::after{
                        display: none;
                    }
                }
            }
            &__content{
                display: flex;
                flex-direction: column;
            }
            &__text{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 100%;
                font-family: $es-title;
                color: $es-main-text-color;
            }
            &__title{
                @include es-text-reset;
                font-size: 25px;
                margin-bottom: 60px;
            }
            &__subtitleCtn{
                background-image: url(./img/es-kv-text-bg.webp);
                background-repeat: no-repeat;
                background-size: contain;
                min-width: 300px;
                min-height: 200px;
                display: flex;
                justify-content: center;
                align-items: center;
                position: relative;
            }
            &__subtitleBadge{
                width: 90px;
                position: absolute;
                top:-40px;
                left: 40px;
            }
            &__subtitle{
                @include es-text-reset;
                font-size:20px;
            }
            &__imgCtn{
                &::after{
                    content: url(./img/es-header-line.webp);
                    display: block;
                    position: absolute;
                    bottom: -10px;
                    right: 0;
                }
            }
            &__img{
                clip-path: circle(39.6% at 50% 50%);
                width: 100%;
                max-height: 550px;
            }
        }
        .es-cross{
            padding: 20px;
            margin-top: 20px;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap:20px;
            &__item{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                min-width: 300px;
            }
            &__img{
                max-width: 280px;
            }
            &__name{
                @include es-text-reset;
                font-family: $es-regular;
                text-align: center;
                color: $es-dark-color;
            }
            &__link{
                text-decoration: none;
                color: $es-dark-color;
                border: 2px solid $es-dark-color;
                border-radius: 20px;
                padding: 5px 20px;
                font-family: $es-regular;
                font-size: 14px;
                transition: .4s ease-in-out;
                &:hover{
                    background-color: $es-dark-color;
                    color: #fff;
                }
            }
        }

        .es-may{
            &__slide{
                display: flex;
                flex-direction: column;
                min-height: 500px;
                &--second{
                    background-image: url(./img/es-may-slider-bg.webp);
                    background-repeat: no-repeat;
                    background-position: top right;
                    background-size: contain;
                }
            }
            &__img{
                max-width: 350px;
            }
            &__packshot{
                max-height: 200px;
            }
            &__packshotCtn{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap:20px;
            }
            &__title{
                @include es-text-reset;
                font-family: $es-regular;
                font-size: 30px;
                color: $es-main-text-color;
            }
            &__text{
                @include es-text-reset;
                font-family: $es-regular;
                font-size: 16px;
                color: $es-main-text-color;
                span{
                    text-decoration: underline;
                }
            }
            &__item{
                display: flex;
                align-items: center;
                justify-content: flex-start;
                gap: 20px;
            }
            &__link{
                text-decoration: none;
                color: $es-dark-color;
                border: 2px solid $es-dark-color;
                border-radius: 20px;
                padding: 5px 20px;
                font-family: $es-regular;
                font-size: 18px;
                transition: .4s ease-in-out;
                &:hover{
                    background-color: $es-dark-color;
                    color: #fff;
                }
            }
            &__arrow{
                cursor: pointer;
                border: none;
                background-color: transparent;
                &--next{
                    align-self: flex-end;
                }
            }
        }
        .es-message{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            &__title{
                @include es-text-reset;
                font-size: 30px;
                text-align: center;
                font-family: $es-title;
                color: $es-main-text-light-color;
                position: relative;
                &:after{
                    content: url(./img/kv-sun.webp);
                    display: block;
                    position: absolute;
                    right: -150px;
                    top:-50px;
                    transform: scale(.7);
                    display: none;
                }
            }
            &__text{
                @include es-text-reset;
                font-size: 16px;
                text-align: center;
                font-family: $es-title;
                color: $es-main-text-color;
            }
        }
        .es-magneDesc{
            background-image: url(./img/es-magneDesc-bg.png);
            background-repeat: no-repeat;
            background-position: right center;
            background-size: contain;
            &__container{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                &--secondary{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                }
            }
            &__slider{
                display: flex;
                justify-content: center;
                align-items: center;
            }
            &__slide{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
            &__name{
                @include es-text-reset;
                font-family: $es-regular;
                text-align: center;
                color: $es-dark-color;
            }
            &__link{
                text-decoration: none;
                color: $es-dark-color;
                border: 2px solid $es-dark-color;
                border-radius: 20px;
                padding: 5px 20px;
                font-family: $es-regular;
                font-size: 18px;
                transition: .4s ease-in-out;
                &:hover{
                    background-color: $es-dark-color;
                    color: #fff;
                }
            }
            &__arrow{
                cursor: pointer;
                border: none;
                background-color: transparent;
                align-self: flex-start;
                margin-top: 40px;
            }
            &__img{
                max-width: 300px;
            }
            &__title{
                @include es-text-reset;
                font-size: 30px;
                text-align: center;
                font-family: $es-regular;
                color: $es-main-text-color;
            }
            &__howCtn{
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                align-items: center;
            }
            &__howItem{
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: center;
                min-width: 250px;
                min-height: 300px;
            }
            &__numberCtn{
                height: 60px;
                width: 60px;
                background-image: url(./img/es-how-numberBg.png);
                background-repeat: no-repeat;
                background-size: contain;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            &__number{
                @include es-text-reset;
                font-size: 30px;
                font-family: $es-title;
                color: $es-dark-color;
            }
            &__how-text{
                @include es-text-reset;
                text-align: center;
                font-family: $es-title;
                color: $es-main-text-color;
                min-height: 60px;
                &--hidden{
                    background-color: $es-main-text-light-color;
                    color: #fff;
                    padding: 15px;
                    border-radius: 40px;
                    font-family: $es-regular;
                    font-size: 12px;
                    text-align: center;
                }
            }
            &__button{
                @include es-text-reset;
                border: none;
                background-color: $es-dark-color;
                color: #fff;
                padding: 10px 20px;
                border-radius: 20px;
                cursor: pointer;
                font-family: $es-regular;
            }
        }
        .es-hide{
            display: none;
        }
        .es-calculator{
            background-image: url(./img/es-calculator-bg.png);
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            width: 100%;
            padding: 40px 10px;
            &__ctn{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 100%;
            }
            &__title{
                @include es-text-reset;
                font-size: 30px;
                text-align: center;
                font-family: $es-title;
                color: $es-main-text-color;
            }
            &__item{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
            &__select{
                border-radius: 20px;
                padding: 10px;
                margin: 10px;
                font-family: $es-regular;
                color: $es-main-text-color;
                background-color: #fff;
                cursor: pointer;
                min-width: 300px;
            }
            &__selectLabel{
                @include es-text-reset;
                text-align: center;
                font-family: $es-regular;
                color: $es-main-text-color;
                
            }
            &__dataInput{
                border-radius: 20px;
                padding: 10px;
                margin: 10px;
                font-family: $es-regular;
                color: $es-main-text-color;
                background-color: #fff;
                cursor: pointer;
                min-width: 300px;
            }
            &__submitBtn{
                margin: 50px 0;
                text-decoration: none;
                color: $es-dark-color;
                border: 2px solid $es-dark-color;
                background-color: transparent;
                border-radius: 20px;
                padding: 5px 30px;
                font-family: $es-regular;
                font-size: 14px;
                transition: .4s ease-in-out;
                width: 130px;
                height: 30px;
                cursor: pointer;
                position: relative;
                &:hover{
                    background-color: $es-dark-color;
                    color: #fff;
                }
                &::after{
                    content: url(./img/es-line.png);
                    position: absolute;
                    top:-30px;
                    left: -150%;
                    transform: scale(.6)
                }
            }
            &__resultText{
                @include es-text-reset;
                text-align: center;
                font-family: $es-regular;
                color: $es-main-text-color;
                
            }
            &__result{
                @include es-text-reset;
                font-size: 30px;
                text-align: center;
                font-family: $es-title;
                color: $es-main-text-color;
                margin: 0;
            }
            &__returnBtn{
                margin: 50px 0;
                text-decoration: none;
                color: $es-dark-color;
                border: 2px solid $es-dark-color;
                background-color: transparent;
                border-radius: 20px;
                padding: 5px 30px;
                font-family: $es-regular;
                font-size: 14px;
                transition: .4s ease-in-out;
                width: 200px;
                height: 30px;
                cursor: pointer;
                position: relative;
                &:hover{
                    background-color: $es-dark-color;
                    color: #fff;
                }
                &::after{
                    content: url(./img/es-line.png);
                    position: absolute;
                    top:-30px;
                    left: -60%;
                    transform: scale(.6)
                }
            }
        }
        .es-how{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            position: relative;
            padding: 50px 0;
            &::after{
                content: url(./img/es-how-happyFace.png);
                display: block;
                position: absolute;
                right: 10%;
                bottom:-10%;
            }
            &__content{
                width: 100%;
            }
            &__title{
                @include es-text-reset;
                font-size: 30px;
                text-align: center;
                font-family: $es-title;
                color: $es-main-text-color;
                position: relative;
                &::after{
                    content: url(./img/es-how-sadFace.png);
                    display: block;
                    position: absolute;
                    right: 0;
                    top:-150%;
                }
            }
            &__desc{
                @include es-text-reset;
                max-width: 500px;
                font-family: $es-regular;
                color: $es-main-text-color;
            }
            &__imgCtn{
                max-width: 300px;
                align-self: flex-end;
            }
            &__listItem{
                @include es-text-reset;
                font-family: $es-regular;
                color: $es-main-text-color;
            }
        }
        @media (min-width: 750px){
            .es-kv{
                max-height: 600px;
                &__navCtn{
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                }
                &__navItem{
                    min-width: 100px;
                    max-width: 100px;
                    padding: 5px;
                }
                &__navLink{
                    font-size: 12px;
                    &::after{
                        content: '';
                        display: block;
                        position: absolute;
                        top:0;
                        left: 0;
                        width: 2px;
                        height: 100%;
                        background-color: $es-main-text-color;
                    }
                    &:nth-child(1){
                        &::after{
                            display: none;
                        }
                    }
                }
                &__content{
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                }
            }
            .es-may{
                &__arrow{
                    cursor: pointer;
                    &--next{
                        align-self: center;
                    }
                }
            }
            .es-message{
                &__title{
                    margin-bottom: 20px;
                    font-size: 40px;
                    &:after{
                        content: url(./img/kv-sun.webp);
                        display: block;
                        position: absolute;
                        right: -150px;
                        top:-50px;
                        transform: scale(.7);
                    }
                }
                &__text{
                    font-size: 20px;
                    text-align: center;
                    font-family: $es-title;
                    color: $es-main-text-color;
                    margin-top: 0;
                }
            }
            .es-magneDesc{
                &__container{
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    &--secondary{
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                    }
                }
                &__slider{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
                &__img{
                    max-width: 450px;
                }
            }
            .es-how{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                &__content{
                    width: 60%;
                }
                &__title{
                    font-size: 40px;
                    text-align: left;
                    &::after{
                        top:0;
                        right:-10%;
                    }
                }
                &__desc{
                    font-size: 20px;
                }
                &__imgCtn{
                    max-width: 400px;
                }
                &__listItem{
                    font-size: 20px;
                }
            }
        }
        @media (min-width: 950px) {
            .es-kv{
                max-height: 600px;
                &__navCtn{
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                }
                &__nav{
                    position: absolute;
                    &::after{
                        content: url(./img/nav-line.webp);
                        display: block;
                        position: absolute;
                        bottom: 0;
                        right: 0;
                    }
                }
                &__navItem{
                    min-width: 160px;
                    max-width: 160px;
                    padding: 10px;
                }
                &__navLink{
                    font-size: 16px;
                }
                &__img{
                    clip-path: none;
                }
                &__text{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    width: 50%;
                    font-family: $es-title;
                    color: $es-main-text-color;
                    position: relative;
                }
                &__title{
                    font-size: 40px;
                    margin-bottom: 0;
                    margin-top: -80px;
                }
                &__subtitleCtn{
                    position: absolute;
                    bottom: -20px;
                    right: -100px;
                    &::after{
                        display: block;
                        content: url(./img/kv-sun.webp);
                        position: absolute;
                        left:-200px;
                    }
                }
            }
            .es-may{
                &__slide{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: row;
                    gap: 20px;
                }
                &__content{
                    max-width: 40%;
                }
            }
        }
    }
}
