@font-face {
  font-family: "es-Gilroy-semibold";
  src: url("./fonts/Gilroy-SemiBold.otf") format("opentype");
  font-display: auto;
}
@font-face {
  font-family: "es-Bliss-heavy";
  src: url("./fonts/Bliss-Heavy.otf") format("opentype");
  font-display: auto;
}
@font-face {
  font-family: "es-Gilroy-regular";
  src: url("./fonts/Gilroy-Regular.otf") format("opentype");
  font-displanedy: auto;
}
@keyframes es-gelatine {
  from, to {
    transform: scale(1, 1);
  }
  25% {
    transform: scale(0.9, 1.1);
  }
  50% {
    transform: scale(1.1, 0.9);
  }
  75% {
    transform: scale(0.95, 1.05);
  }
}
@keyframes es-bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(-5px);
  }
}
#es-sanofi.es-sanofi #es-magne.es-magne {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
  background-color: #fff;
}
#es-sanofi.es-sanofi #es-magne.es-magne sup {
  font-size: x-small;
}
#es-sanofi.es-sanofi #es-magne.es-magne img {
  max-width: 100%;
}
#es-sanofi.es-sanofi #es-magne.es-magne * {
  box-sizing: border-box;
}
#es-sanofi.es-sanofi #es-magne.es-magne .es-btn--arrow {
  width: 32px;
  margin: 16px;
  cursor: pointer;
}
#es-sanofi.es-sanofi #es-magne.es-magne .es-slider__container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
#es-sanofi.es-sanofi #es-magne.es-magne .es-slider {
  width: 80%;
  max-width: 600px;
  height: 350px;
  text-align: center;
  overflow: hidden;
  position: relative;
}
#es-sanofi.es-sanofi #es-magne.es-magne .es-slides {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  position: relative;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  scroll-snap-stop: always;
  scroll-snap-align: center;
}
#es-sanofi.es-sanofi #es-magne.es-magne .es-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  width: 100%;
  height: 400px;
  scroll-snap-align: center;
  margin-right: 0px;
  box-sizing: border-box;
  background: white;
  transform-origin: center center;
  transform: scale(1);
}
@media screen and (min-width: 850px) {
  #es-sanofi.es-sanofi #es-magne.es-magne .es-slider {
    max-width: unset;
    width: unset;
    height: unset;
    overflow: unset;
    display: block;
  }
  #es-sanofi.es-sanofi #es-magne.es-magne .es-slide {
    width: unset;
    overflow: unset;
    margin: 10px;
    height: unset;
  }
}
#es-sanofi.es-sanofi #es-magne.es-magne .es-kv {
  background-image: url(./img/kv-bg.webp);
  background-repeat: no-repeat;
  background-position: top left;
  background-size: contain;
  min-height: 500px;
  position: relative;
}
#es-sanofi.es-sanofi #es-magne.es-magne .es-kv__nav {
  display: flex;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.678);
  border-radius: 100% 0% 48% 52%/0% 34% 66% 100%;
  padding: 10px 5px;
  width: 100%;
  z-index: 1;
}
#es-sanofi.es-sanofi #es-magne.es-magne .es-kv__navCtn {
  display: flex;
  flex-direction: column;
  padding: 0;
}
#es-sanofi.es-sanofi #es-magne.es-magne .es-kv__navItem {
  min-width: 160px;
  text-align: center;
  list-style: none;
  padding: 10px;
}
#es-sanofi.es-sanofi #es-magne.es-magne .es-kv__navLink {
  font-size: 16px;
  line-height: 1.3;
  margin-top: 10px;
  text-decoration: none;
  color: #001883;
  position: relative;
  font-family: "es-Gilroy-semibold";
  font-size: 16px;
  cursor: pointer;
}
#es-sanofi.es-sanofi #es-magne.es-magne .es-kv__navLink::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 1.5px;
  width: 100%;
  background-color: #001883;
}
#es-sanofi.es-sanofi #es-magne.es-magne .es-kv__navLink:nth-child(1)::after {
  display: none;
}
#es-sanofi.es-sanofi #es-magne.es-magne .es-kv__content {
  display: flex;
  flex-direction: column;
  min-height: 450px;
  position: relative;
  font-family: "es-Bliss-heavy";
  color: #001883;
}
#es-sanofi.es-sanofi #es-magne.es-magne .es-kv__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
#es-sanofi.es-sanofi #es-magne.es-magne .es-kv__title {
  font-size: 16px;
  line-height: 1.3;
  margin-top: 10px;
  font-family: "es-Bliss-heavy";
  color: #001883;
  font-size: 30px;
  margin-bottom: 60px;
}
#es-sanofi.es-sanofi #es-magne.es-magne .es-kv__subtitleCtn {
  position: absolute;
  bottom: 24px;
  left: 0.4rem;
  background-image: url(./img/es-kv-text-bg.webp);
  background-repeat: no-repeat;
  background-size: contain;
  min-width: 190px;
  min-height: 137px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
#es-sanofi.es-sanofi #es-magne.es-magne .es-kv__subtitleBadge {
  width: 60px;
  position: absolute;
  top: -30px;
  left: 30px;
}
#es-sanofi.es-sanofi #es-magne.es-magne .es-kv__subtitle {
  font-size: 16px;
  line-height: 1.3;
  margin-top: 10px;
  font-size: 15px;
  text-align: right;
  margin-top: 35px;
  margin-right: -24px;
}
#es-sanofi.es-sanofi #es-magne.es-magne .es-kv__imgCtn {
  position: absolute;
  right: 0.5rem;
  bottom: 0;
  width: 75%;
}
#es-sanofi.es-sanofi #es-magne.es-magne .es-kv__imgCtn:after {
  content: url("./img/kv-sun.webp");
  display: block;
  scale: 0.6;
  position: absolute;
  right: -20px;
  bottom: -70px;
}
@media (min-width: 750px) {
  #es-sanofi.es-sanofi #es-magne.es-magne .es-kv {
    max-height: 600px;
  }
  #es-sanofi.es-sanofi #es-magne.es-magne .es-kv__navCtn {
    display: flex;
    flex-direction: row;
  }
  #es-sanofi.es-sanofi #es-magne.es-magne .es-kv__navItem {
    min-width: 100px;
    max-width: 100px;
    padding: 5px;
  }
  #es-sanofi.es-sanofi #es-magne.es-magne .es-kv__navLink {
    font-size: 12px;
  }
  #es-sanofi.es-sanofi #es-magne.es-magne .es-kv__navLink::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 2px;
    height: 100%;
    background-color: #001883;
  }
  #es-sanofi.es-sanofi #es-magne.es-magne .es-kv__navLink:nth-child(1)::after {
    display: none;
  }
  #es-sanofi.es-sanofi #es-magne.es-magne .es-kv__content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  #es-sanofi.es-sanofi #es-magne.es-magne .es-kv__text {
    width: 50%;
    margin-top: 10px;
    margin-left: 20px;
  }
  #es-sanofi.es-sanofi #es-magne.es-magne .es-kv__text:after {
    display: block;
    content: url(./img/kv-sun.webp);
    position: absolute;
    left: 5%;
    bottom: -10%;
    scale: 0.9;
  }
  #es-sanofi.es-sanofi #es-magne.es-magne .es-kv__title {
    font-family: "es-Bliss-heavy";
    color: #001883;
    font-size: 42px;
  }
  #es-sanofi.es-sanofi #es-magne.es-magne .es-kv__subtitleCtn {
    position: relative;
    align-self: flex-end;
    margin-bottom: -61px;
    margin-right: -41px;
    width: 300px;
    min-height: 200px;
  }
  #es-sanofi.es-sanofi #es-magne.es-magne .es-kv__subtitle {
    font-size: 17px;
    text-align: left;
    margin-top: -14px;
    margin-right: -37px;
  }
  #es-sanofi.es-sanofi #es-magne.es-magne .es-kv__subtitleBadge {
    width: 80px;
    position: absolute;
    top: -40px;
    left: 40px;
  }
  #es-sanofi.es-sanofi #es-magne.es-magne .es-kv__imgCtn {
    position: unset;
    width: unset;
  }
  #es-sanofi.es-sanofi #es-magne.es-magne .es-kv__imgCtn::after {
    content: url(./img/es-header-line.webp);
    display: block;
    position: absolute;
    bottom: -10px;
    right: 0;
  }
  #es-sanofi.es-sanofi #es-magne.es-magne .es-kv__img {
    max-width: 100%;
    max-height: 550px;
  }
}
@media (min-width: 950px) {
  #es-sanofi.es-sanofi #es-magne.es-magne .es-kv__nav {
    position: absolute;
  }
  #es-sanofi.es-sanofi #es-magne.es-magne .es-kv__nav::after {
    content: url(./img/nav-line.webp);
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
  }
  #es-sanofi.es-sanofi #es-magne.es-magne .es-kv__navItem {
    min-width: 160px;
    max-width: 160px;
    padding: 10px;
  }
  #es-sanofi.es-sanofi #es-magne.es-magne .es-kv__navLink {
    font-size: 16px;
  }
  #es-sanofi.es-sanofi #es-magne.es-magne .es-kv__text {
    margin-top: 50px;
  }
  #es-sanofi.es-sanofi #es-magne.es-magne .es-kv__text::after {
    right: 70%;
    left: 15%;
    bottom: 0;
    scale: 1;
  }
  #es-sanofi.es-sanofi #es-magne.es-magne .es-kv__title {
    margin-bottom: 0;
    margin-top: -80px;
  }
  #es-sanofi.es-sanofi #es-magne.es-magne .es-kv__subtitle {
    font-size: 20px;
    margin-top: 21px;
  }
}
#es-sanofi.es-sanofi #es-magne.es-magne .es-cross {
  padding: 20px;
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}
#es-sanofi.es-sanofi #es-magne.es-magne .es-cross__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#es-sanofi.es-sanofi #es-magne.es-magne .es-cross__img {
  max-width: 210px;
}
#es-sanofi.es-sanofi #es-magne.es-magne .es-cross__name {
  font-size: 16px;
  line-height: 1.3;
  margin-top: 10px;
  font-family: "es-Gilroy-semibold";
  text-align: center;
  color: #001e61;
}
#es-sanofi.es-sanofi #es-magne.es-magne .es-cross__link {
  text-decoration: none;
  color: #001e61;
  background-color: #FFF;
  border: 2px solid #001e61;
  border-radius: 20px;
  padding: 5px 20px;
  font-family: "es-Gilroy-semibold";
  font-size: 18px;
  transition: 0.4s ease-in-out;
  display: block;
  width: 150px;
  text-align: center;
  margin: auto;
  margin: unset;
}
#es-sanofi.es-sanofi #es-magne.es-magne .es-cross__link:hover {
  background-color: #001e61;
  color: #fff;
}
#es-sanofi.es-sanofi #es-magne.es-magne .es-may {
  padding: 14px;
  display: grid;
  justify-items: stretch;
  align-items: end;
}
#es-sanofi.es-sanofi #es-magne.es-magne .es-may-desktop {
  display: none;
}
#es-sanofi.es-sanofi #es-magne.es-magne .es-may-mobile {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 100px 1fr;
}
#es-sanofi.es-sanofi #es-magne.es-magne .es-may-mobile--2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-block: 2rem;
  gap: 2rem;
}
#es-sanofi.es-sanofi #es-magne.es-magne .es-may__img {
  grid-column: 2/3;
  grid-row: 1/3;
  max-width: 100%;
  align-self: start;
  justify-self: end;
  align-self: center;
  z-index: 1;
}
#es-sanofi.es-sanofi #es-magne.es-magne .es-may__img--decoration {
  justify-self: center;
  margin-right: 3rem;
}
#es-sanofi.es-sanofi #es-magne.es-magne .es-may__title {
  grid-row: 2/3;
  justify-self: center;
  width: 12ch;
  font-size: 16px;
  line-height: 1.3;
  margin-top: 10px;
  font-family: "es-Gilroy-semibold";
  color: #001883;
  font-size: 30px;
}
#es-sanofi.es-sanofi #es-magne.es-magne .es-may__txtCtn {
  grid-column: 1/3;
  grid-row: 2/3;
}
#es-sanofi.es-sanofi #es-magne.es-magne .es-may__text {
  font-size: 16px;
  line-height: 1.3;
  margin-top: 10px;
  font-family: "es-Gilroy-regular";
  color: #001883;
  font-size: 16px;
}
#es-sanofi.es-sanofi #es-magne.es-magne .es-may__text--line {
  text-decoration: underline;
}
#es-sanofi.es-sanofi #es-magne.es-magne .es-may__text--bold {
  font-family: "es-Gilroy-semibold";
  text-decoration: none;
}
#es-sanofi.es-sanofi #es-magne.es-magne .es-may__link {
  text-decoration: none;
  color: #001e61;
  background-color: #FFF;
  border: 2px solid #001e61;
  border-radius: 20px;
  padding: 5px 20px;
  font-family: "es-Gilroy-semibold";
  font-size: 18px;
  transition: 0.4s ease-in-out;
  display: block;
  width: 150px;
  text-align: center;
  margin: auto;
}
#es-sanofi.es-sanofi #es-magne.es-magne .es-may__link:hover {
  background-color: #001e61;
  color: #fff;
}
#es-sanofi.es-sanofi #es-magne.es-magne .es-may__arrow {
  display: none;
}
#es-sanofi.es-sanofi #es-magne.es-magne .es-may__itemCtn {
  max-width: 80%;
}
#es-sanofi.es-sanofi #es-magne.es-magne .es-may__item {
  display: flex;
  align-items: center;
  gap: 1rem;
}
#es-sanofi.es-sanofi #es-magne.es-magne .es-may__icon {
  max-width: 50px;
  max-height: 50px;
}
#es-sanofi.es-sanofi #es-magne.es-magne .es-may__packshotCtn {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  max-width: 60%;
}
#es-sanofi.es-sanofi #es-magne.es-magne .es-may__slide--second {
  display: none;
}
@media (min-width: 750px) {
  #es-sanofi.es-sanofi #es-magne.es-magne .es-may {
    grid-template-columns: 1fr 2fr;
  }
  #es-sanofi.es-sanofi #es-magne.es-magne .es-may-mobile {
    display: none;
  }
  #es-sanofi.es-sanofi #es-magne.es-magne .es-may-mobile--2 {
    display: none;
  }
  #es-sanofi.es-sanofi #es-magne.es-magne .es-may-desktop {
    display: block;
  }
  #es-sanofi.es-sanofi #es-magne.es-magne .es-may__title {
    width: unset;
    font-family: "es-Gilroy-semibold";
    color: #001883;
    font-size: 42px;
  }
  #es-sanofi.es-sanofi #es-magne.es-magne .es-may__img {
    grid-column: 1/2;
  }
  #es-sanofi.es-sanofi #es-magne.es-magne .es-may .es-slideshow-container {
    position: relative;
  }
  #es-sanofi.es-sanofi #es-magne.es-magne .es-may__slide {
    display: flex;
    justify-content: center;
    min-height: 400px;
    padding-inline: 20px;
    align-items: center;
    flex-direction: row;
    gap: 20px;
  }
  #es-sanofi.es-sanofi #es-magne.es-magne .es-may__slide--second {
    background-image: url(./img/es-may-slider-bg.webp);
    background-repeat: no-repeat;
    background-position: top right;
    background-size: contain;
    padding-top: 50px;
    padding-top: 0px;
    max-width: 86%;
  }
  #es-sanofi.es-sanofi #es-magne.es-magne .es-may__content {
    max-width: 86%;
  }
  #es-sanofi.es-sanofi #es-magne.es-magne .es-may__content--second {
    max-width: 50%;
  }
  #es-sanofi.es-sanofi #es-magne.es-magne .es-may__icon {
    max-width: 50px;
  }
  #es-sanofi.es-sanofi #es-magne.es-magne .es-may__img {
    display: block;
    margin: auto;
    max-width: 250px;
  }
  #es-sanofi.es-sanofi #es-magne.es-magne .es-may__packshot {
    max-height: 200px;
    max-width: 80%;
  }
  #es-sanofi.es-sanofi #es-magne.es-magne .es-may__packshotCtn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-left: 20px;
  }
  #es-sanofi.es-sanofi #es-magne.es-magne .es-may__item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
  }
  #es-sanofi.es-sanofi #es-magne.es-magne .es-may__arrow {
    display: block;
    cursor: pointer;
    border: none;
    background-color: transparent;
  }
  #es-sanofi.es-sanofi #es-magne.es-magne .es-may__arrow--next {
    align-self: center;
  }
  #es-sanofi.es-sanofi #es-magne.es-magne .es-may__arrow--prev {
    align-self: center;
  }
  #es-sanofi.es-sanofi #es-magne.es-magne .es-may__buttonsCtn {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
  }
}
#es-sanofi.es-sanofi #es-magne.es-magne .es-message {
  padding: 14px;
}
#es-sanofi.es-sanofi #es-magne.es-magne .es-message--desktop {
  display: none;
}
#es-sanofi.es-sanofi #es-magne.es-magne .es-message--mobile {
  display: grid;
  grid-template-columns: 0.6fr 0.4fr;
  align-items: center;
  justify-content: space-between;
}
#es-sanofi.es-sanofi #es-magne.es-magne .es-message--mobile .es-message__img {
  grid-column: 2/3;
  min-width: 200px;
  margin-right: -30px;
}
#es-sanofi.es-sanofi #es-magne.es-magne .es-message--mobile img {
  max-width: 100%;
}
#es-sanofi.es-sanofi #es-magne.es-magne .es-message__title {
  font-size: 16px;
  line-height: 1.3;
  margin-top: 10px;
  font-family: "es-Gilroy-semibold";
  color: #78a9df;
  font-size: 30px;
  text-align: left;
  position: relative;
}
#es-sanofi.es-sanofi #es-magne.es-magne .es-message__title:before {
  content: url(./img/kv-sun.webp);
  display: block;
  position: absolute;
  left: -25px;
  top: -136px;
  transform: scale(0.4);
}
#es-sanofi.es-sanofi #es-magne.es-magne .es-message__text {
  font-size: 16px;
  line-height: 1.3;
  margin-top: 10px;
  font-family: "es-Gilroy-semibold";
  color: #001883;
  font-size: 16px;
}
@media (min-width: 750px) {
  #es-sanofi.es-sanofi #es-magne.es-magne .es-message--mobile {
    display: none;
  }
  #es-sanofi.es-sanofi #es-magne.es-magne .es-message--desktop {
    display: block;
  }
  #es-sanofi.es-sanofi #es-magne.es-magne .es-message__title {
    margin-bottom: 20px;
    font-family: "es-Gilroy-semibold";
    color: #78a9df;
    font-size: 42px;
    text-align: center;
  }
  #es-sanofi.es-sanofi #es-magne.es-magne .es-message__title:after {
    content: url(./img/kv-sun.webp);
    display: block;
    position: absolute;
    right: -3px;
    top: -96px;
    transform: scale(0.7);
  }
  #es-sanofi.es-sanofi #es-magne.es-magne .es-message__title:before {
    display: none;
  }
  #es-sanofi.es-sanofi #es-magne.es-magne .es-message__text {
    font-family: "es-Gilroy-semibold";
    color: #001883;
    font-size: 20px;
    text-align: center;
    margin-top: 0;
  }
}
#es-sanofi.es-sanofi #es-magne.es-magne .es-magneDesc {
  background-image: url(./img/es-magneDesc-bg.webp);
  background-repeat: no-repeat;
  background-position: right center;
  background-size: contain;
  padding: 14px;
}
#es-sanofi.es-sanofi #es-magne.es-magne .es-magneDesc__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#es-sanofi.es-sanofi #es-magne.es-magne .es-magneDesc__container--secondary {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#es-sanofi.es-sanofi #es-magne.es-magne .es-magneDesc__slider {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
#es-sanofi.es-sanofi #es-magne.es-magne .es-magneDesc__slide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 200px;
  min-height: 320px;
}
#es-sanofi.es-sanofi #es-magne.es-magne .es-magneDesc__slide--badge {
  position: relative;
}
#es-sanofi.es-sanofi #es-magne.es-magne .es-magneDesc__badge {
  font-size: 16px;
  line-height: 1.3;
  margin-top: 10px;
  position: absolute;
  top: -10px;
  right: 0px;
  background-color: #00b8bd;
  border-radius: 50%;
  color: #fff;
  width: 70px;
  height: 70px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 11px;
  text-transform: uppercase;
  font-family: "es-Gilroy-semibold";
}
#es-sanofi.es-sanofi #es-magne.es-magne .es-magneDesc__name {
  font-size: 16px;
  line-height: 1.3;
  margin-top: 10px;
  font-family: "es-Gilroy-semibold";
  text-align: center;
  color: #001e61;
}
#es-sanofi.es-sanofi #es-magne.es-magne .es-magneDesc__link {
  text-decoration: none;
  color: #001e61;
  background-color: #FFF;
  border: 2px solid #001e61;
  border-radius: 20px;
  padding: 5px 20px;
  font-family: "es-Gilroy-semibold";
  font-size: 18px;
  transition: 0.4s ease-in-out;
  display: block;
  width: 150px;
  text-align: center;
  margin: auto;
  margin: unset;
}
#es-sanofi.es-sanofi #es-magne.es-magne .es-magneDesc__link:hover {
  background-color: #001e61;
  color: #fff;
}
#es-sanofi.es-sanofi #es-magne.es-magne .es-magneDesc__arrow {
  cursor: pointer;
  border: none;
  background-color: transparent;
  align-self: flex-start;
  margin-top: 100px;
}
#es-sanofi.es-sanofi #es-magne.es-magne .es-magneDesc__imgCtn {
  display: none;
}
#es-sanofi.es-sanofi #es-magne.es-magne .es-magneDesc__img {
  max-width: 300px;
}
#es-sanofi.es-sanofi #es-magne.es-magne .es-magneDesc__packshot {
  width: 310px;
}
#es-sanofi.es-sanofi #es-magne.es-magne .es-magneDesc__title {
  font-size: 16px;
  line-height: 1.3;
  margin-top: 10px;
  font-family: "es-Gilroy-semibold";
  color: #001883;
  font-size: 30px;
  text-align: left;
}
#es-sanofi.es-sanofi #es-magne.es-magne .es-magneDesc__howCtn {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
#es-sanofi.es-sanofi #es-magne.es-magne .es-magneDesc__howItem {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 250px;
  min-height: 150px;
  margin-top: 20px;
}
#es-sanofi.es-sanofi #es-magne.es-magne .es-magneDesc__numberCtn {
  height: 60px;
  width: 60px;
  background-image: url(./img/es-how-numberBg.webp);
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  justify-content: center;
  align-items: center;
}
#es-sanofi.es-sanofi #es-magne.es-magne .es-magneDesc__number {
  font-size: 16px;
  line-height: 1.3;
  margin-top: 10px;
  font-size: 30px;
  font-family: "es-Bliss-heavy";
  color: #001e61;
  margin: 0;
}
#es-sanofi.es-sanofi #es-magne.es-magne .es-magneDesc__how-text {
  font-size: 16px;
  line-height: 1.3;
  margin-top: 10px;
  text-align: center;
  font-family: "es-Gilroy-semibold";
  color: #001883;
  font-size: 16px;
  min-height: 60px;
}
#es-sanofi.es-sanofi #es-magne.es-magne .es-magneDesc__how-text--hidden {
  font-size: 16px;
  line-height: 1.3;
  margin-top: 10px;
  background-color: #78a9df;
  color: #fff;
  padding: 15px;
  border-radius: 40px;
  font-family: "es-Gilroy-semibold";
  font-size: 12px;
  text-align: center;
}
#es-sanofi.es-sanofi #es-magne.es-magne .es-magneDesc__slider--mobile {
  display: flex;
  justify-content: center;
  align-items: center;
}
#es-sanofi.es-sanofi #es-magne.es-magne .es-magneDesc__slider--mobile .es-magneDesc__howCtn {
  display: flex;
}
#es-sanofi.es-sanofi #es-magne.es-magne .es-magneDesc__slider--mobile .es-magneDesc__howItem {
  min-height: unset;
}
#es-sanofi.es-sanofi #es-magne.es-magne .es-magneDesc__slider--mobile .es-magneDesc__how-text {
  min-height: unset;
}
#es-sanofi.es-sanofi #es-magne.es-magne .es-magneDesc__slider--mobile .es-magneDesc__button {
  display: none;
}
#es-sanofi.es-sanofi #es-magne.es-magne .es-magneDesc__slider--mobile .es-hide {
  display: block;
}
@media (min-width: 750px) {
  #es-sanofi.es-sanofi #es-magne.es-magne .es-magneDesc__container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  #es-sanofi.es-sanofi #es-magne.es-magne .es-magneDesc__container--secondary {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #es-sanofi.es-sanofi #es-magne.es-magne .es-magneDesc__slider {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #es-sanofi.es-sanofi #es-magne.es-magne .es-magneDesc__slider--mobile .es-magneDesc__arrow {
    display: none;
  }
  #es-sanofi.es-sanofi #es-magne.es-magne .es-magneDesc__slider--mobile .es-magneDesc__button {
    font-size: 16px;
    line-height: 1.3;
    margin-top: 10px;
    text-decoration: none;
    border: none;
    background-color: #001e61;
    color: #fff;
    padding: 10px 20px;
    border-radius: 20px;
    width: 150px;
    cursor: pointer;
    font-family: "es-Gilroy-semibold";
    transition: 0.4s ease-in-out;
    display: block;
  }
  #es-sanofi.es-sanofi #es-magne.es-magne .es-magneDesc__slider--mobile .es-magneDesc__button:hover {
    background-color: #fff;
    outline: 2px solid #001e61;
    color: #001e61;
  }
  #es-sanofi.es-sanofi #es-magne.es-magne .es-magneDesc__slider--mobile .es-hide {
    display: none;
  }
  #es-sanofi.es-sanofi #es-magne.es-magne .es-magneDesc__slide {
    min-width: 300px;
  }
  #es-sanofi.es-sanofi #es-magne.es-magne .es-magneDesc__imgCtn {
    display: block;
  }
  #es-sanofi.es-sanofi #es-magne.es-magne .es-magneDesc__img {
    max-width: 300px;
  }
  #es-sanofi.es-sanofi #es-magne.es-magne .es-magneDesc__howItem {
    min-height: 300px;
  }
  #es-sanofi.es-sanofi #es-magne.es-magne .es-magneDesc__title {
    font-family: "es-Gilroy-semibold";
    color: #001883;
    font-size: 42px;
    text-align: center;
    max-width: 24ch;
  }
}
@media (min-width: 950px) {
  #es-sanofi.es-sanofi #es-magne.es-magne .es-magneDesc__img {
    max-width: 450px;
  }
}
#es-sanofi.es-sanofi #es-magne.es-magne .es-calculator {
  background-image: url(./img/es-calculator-bg.webp);
  background-position: center;
  background-size: cover;
  width: 100%;
  min-height: 650px;
  display: grid;
  align-content: center;
  padding: 14px;
  padding-block: 100px;
}
#es-sanofi.es-sanofi #es-magne.es-magne .es-calculator__ctn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
#es-sanofi.es-sanofi #es-magne.es-magne .es-calculator__title {
  font-size: 16px;
  line-height: 1.3;
  margin-top: 10px;
  font-family: "es-Gilroy-semibold";
  color: #001883;
  font-size: 30px;
  text-align: left;
  word-wrap: normal;
}
#es-sanofi.es-sanofi #es-magne.es-magne .es-calculator__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
#es-sanofi.es-sanofi #es-magne.es-magne .es-calculator__select {
  border-radius: 20px;
  border: 1px solid #001e61;
  padding: 10px;
  margin: 10px;
  font-family: "es-Gilroy-semibold";
  color: #001883;
  background-color: #fff;
  cursor: pointer;
  min-width: 260px;
  position: relative;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-image: url(./img/es-select-arrow.png);
  background-repeat: no-repeat;
  background-position: 99%;
  background-size: 8%;
}
#es-sanofi.es-sanofi #es-magne.es-magne .es-calculator__select:focus, #es-sanofi.es-sanofi #es-magne.es-magne .es-calculator__select:active {
  outline: 2px solid #dfae78;
  border-color: #dfae78;
}
#es-sanofi.es-sanofi #es-magne.es-magne .es-calculator__selectLabel {
  font-size: 16px;
  line-height: 1.3;
  margin-top: 10px;
  text-align: left;
  font-family: "es-Gilroy-regular";
  color: #001883;
  font-size: 16px;
}
#es-sanofi.es-sanofi #es-magne.es-magne .es-calculator__dataInput {
  border-radius: 20px;
  border: 1px solid #001e61;
  padding: 10px;
  margin: 10px;
  font-family: "es-Gilroy-semibold";
  color: #001883;
  background-color: #fff;
  cursor: pointer;
  min-width: 260px;
}
#es-sanofi.es-sanofi #es-magne.es-magne .es-calculator__dataInput:focus {
  outline: 2px solid #dfae78;
  border-color: #dfae78;
}
#es-sanofi.es-sanofi #es-magne.es-magne .es-calculator__dataInput:active {
  outline: 2px solid #dfae78;
  border-color: #dfae78;
}
#es-sanofi.es-sanofi #es-magne.es-magne .es-calculator__submitBtn {
  margin: 50px 0;
  text-decoration: none;
  color: #001e61;
  background-color: #FFF;
  border: 2px solid #001e61;
  border-radius: 20px;
  padding: 5px 20px;
  font-family: "es-Gilroy-semibold";
  font-size: 18px;
  transition: 0.4s ease-in-out;
  display: block;
  width: 150px;
  text-align: center;
  margin: auto;
}
#es-sanofi.es-sanofi #es-magne.es-magne .es-calculator__submitBtn:hover {
  background-color: #001e61;
  color: #fff;
}
#es-sanofi.es-sanofi #es-magne.es-magne .es-calculator__submitBtn::after {
  content: url(./img/es-line.webp);
  position: absolute;
  top: -30px;
  left: -150%;
  transform: scale(0.6);
}
#es-sanofi.es-sanofi #es-magne.es-magne .es-calculator__resultText {
  font-size: 16px;
  line-height: 1.3;
  margin-top: 10px;
  text-align: center;
  font-family: "es-Gilroy-semibold";
  color: #001883;
}
#es-sanofi.es-sanofi #es-magne.es-magne .es-calculator__result {
  font-size: 16px;
  line-height: 1.3;
  margin-top: 10px;
  font-size: 30px;
  text-align: center;
  font-family: "es-Bliss-heavy";
  color: #001883;
  margin: 0;
  margin-bottom: 15px;
}
#es-sanofi.es-sanofi #es-magne.es-magne .es-calculator__resultClaim {
  font-size: 16px;
  line-height: 1.3;
  margin-top: 10px;
  font-size: 12px;
  text-align: center;
  font-family: "es-Gilroy-regular";
  color: #001883;
  margin: 0;
  max-width: 350px;
}
#es-sanofi.es-sanofi #es-magne.es-magne .es-calculator__returnBtn {
  margin: 50px 0;
  text-decoration: none;
  color: #001e61;
  border: 2px solid #001e61;
  background-color: transparent;
  border-radius: 20px;
  padding: 5px 30px;
  font-family: "es-Gilroy-semibold";
  font-size: 14px;
  transition: 0.4s ease-in-out;
  width: 200px;
  height: 30px;
  cursor: pointer;
  position: relative;
}
#es-sanofi.es-sanofi #es-magne.es-magne .es-calculator__returnBtn:hover {
  background-color: #001e61;
  color: #fff;
}
#es-sanofi.es-sanofi #es-magne.es-magne .es-calculator__returnBtn::after {
  content: url(./img/es-line.webp);
  position: absolute;
  top: -30px;
  left: -60%;
  transform: scale(0.6);
}
@media (min-width: 750px) {
  #es-sanofi.es-sanofi #es-magne.es-magne .es-calculator__title {
    padding-top: unset;
    font-family: "es-Gilroy-semibold";
    color: #001883;
    font-size: 42px;
    text-align: center;
  }
  #es-sanofi.es-sanofi #es-magne.es-magne .es-calculator__item {
    align-items: center;
  }
  #es-sanofi.es-sanofi #es-magne.es-magne .es-calculator__select {
    min-width: 320px;
  }
  #es-sanofi.es-sanofi #es-magne.es-magne .es-calculator__dataInput {
    min-width: 320px;
  }
  #es-sanofi.es-sanofi #es-magne.es-magne .es-calculator__returnBtn {
    margin: 20px 0 0 0;
  }
  #es-sanofi.es-sanofi #es-magne.es-magne .es-calculator__submitBtn {
    margin: 20px 0 0 0;
  }
}
#es-sanofi.es-sanofi #es-magne.es-magne .es-hide {
  display: none;
}
#es-sanofi.es-sanofi #es-magne.es-magne .es-care {
  background-image: none;
  width: 100%;
  min-height: 750px;
  padding: 14px;
}
#es-sanofi.es-sanofi #es-magne.es-magne .es-care__title {
  font-size: 16px;
  line-height: 1.3;
  margin-top: 10px;
  font-family: "es-Gilroy-semibold";
  color: #001883;
  font-size: 30px;
}
#es-sanofi.es-sanofi #es-magne.es-magne .es-care__desc {
  font-size: 16px;
  line-height: 1.3;
  margin-top: 10px;
  font-family: "es-Gilroy-regular";
  color: #001883;
  font-size: 16px;
  margin: 15px auto;
}
#es-sanofi.es-sanofi #es-magne.es-magne .es-care__desc span {
  font-family: "es-Gilroy-semibold";
}
#es-sanofi.es-sanofi #es-magne.es-magne .es-care__slides {
  min-height: 400px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#es-sanofi.es-sanofi #es-magne.es-magne .es-care__slide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
#es-sanofi.es-sanofi #es-magne.es-magne .es-care__imgCtn {
  max-width: 300px;
  min-height: 182px;
  position: relative;
}
#es-sanofi.es-sanofi #es-magne.es-magne .es-care__img--height {
  max-width: 80%;
  display: grid;
  place-items: center;
}
#es-sanofi.es-sanofi #es-magne.es-magne .es-care__contentCtn {
  max-width: 400px;
  min-height: 150px;
  text-align: center;
}
#es-sanofi.es-sanofi #es-magne.es-magne .es-care__number {
  position: absolute;
  top: 60px;
  right: 222px;
  width: 70px;
  height: 70px;
  background-image: url(./img/es-how-numberBg.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  line-height: 1.3;
  margin-top: 10px;
  font-size: 40px;
  font-family: "es-Bliss-heavy";
  color: #001883;
}
#es-sanofi.es-sanofi #es-magne.es-magne .es-care__sliderTitle {
  font-size: 16px;
  line-height: 1.3;
  margin-top: 10px;
  font-family: "es-Gilroy-semibold";
  color: #001883;
  font-size: 20px;
}
#es-sanofi.es-sanofi #es-magne.es-magne .es-care__sliderDesc {
  font-size: 16px;
  line-height: 1.3;
  margin-top: 10px;
  font-family: "es-Gilroy-regular";
  color: #001883;
  font-size: 16px;
  min-height: 110px;
}
#es-sanofi.es-sanofi #es-magne.es-magne .es-care__link {
  text-decoration: none;
  color: #001e61;
  background-color: #FFF;
  border: 2px solid #001e61;
  border-radius: 20px;
  padding: 5px 20px;
  font-family: "es-Gilroy-semibold";
  font-size: 18px;
  transition: 0.4s ease-in-out;
  display: block;
  width: 150px;
  text-align: center;
  margin: auto;
}
#es-sanofi.es-sanofi #es-magne.es-magne .es-care__link:hover {
  background-color: #001e61;
  color: #fff;
}
#es-sanofi.es-sanofi #es-magne.es-magne .es-care__link--product {
  margin: 0 auto;
  align-self: center;
}
#es-sanofi.es-sanofi #es-magne.es-magne .es-care__arrow {
  cursor: pointer;
  border: none;
  background-color: transparent;
}
#es-sanofi.es-sanofi #es-magne.es-magne .es-care__arrow--next {
  align-self: flex-end;
}
@media (min-width: 750px) {
  #es-sanofi.es-sanofi #es-magne.es-magne .es-care {
    background-image: url(./img/es-care-bg.webp);
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 70px;
  }
  #es-sanofi.es-sanofi #es-magne.es-magne .es-care__title {
    font-family: "es-Gilroy-semibold";
    color: #001883;
    font-size: 42px;
    text-align: center;
  }
  #es-sanofi.es-sanofi #es-magne.es-magne .es-care__desc {
    font-size: 20px;
    width: 80%;
  }
  #es-sanofi.es-sanofi #es-magne.es-magne .es-care__slide {
    flex-direction: row;
  }
  #es-sanofi.es-sanofi #es-magne.es-magne .es-care__contentCtn {
    max-width: 350px;
    position: relative;
  }
  #es-sanofi.es-sanofi #es-magne.es-magne .es-care__img--height {
    height: 341px;
  }
  #es-sanofi.es-sanofi #es-magne.es-magne .es-care__sliderDesc {
    min-height: 60px;
  }
  #es-sanofi.es-sanofi #es-magne.es-magne .es-care__number {
    top: 0px;
    right: 0;
  }
}
@media (min-width: 950px) {
  #es-sanofi.es-sanofi #es-magne.es-magne .es-care {
    background-size: contain;
    padding-block: 80px;
  }
  #es-sanofi.es-sanofi #es-magne.es-magne .es-care__number {
    top: 40px;
    right: 0;
  }
}
#es-sanofi.es-sanofi #es-magne.es-magne .es-why {
  position: relative;
  z-index: 0;
}
#es-sanofi.es-sanofi #es-magne.es-magne .es-why:after {
  content: url("./img/es-symptoms-bg.webp");
  position: absolute;
  top: 15%;
  left: 15%;
  z-index: -1;
}
#es-sanofi.es-sanofi #es-magne.es-magne .es-why__title {
  font-size: 16px;
  line-height: 1.3;
  margin-top: 10px;
  font-family: "es-Gilroy-semibold";
  color: #78a9df;
  font-size: 30px;
  padding: 14px;
}
#es-sanofi.es-sanofi #es-magne.es-magne .es-why__textCtn {
  font-size: 16px;
  line-height: 1.3;
  margin-top: 10px;
  background-color: #78a9df;
  width: 90%;
  margin: 0 auto;
  padding: 20px;
  border-radius: 999px;
  min-height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#es-sanofi.es-sanofi #es-magne.es-magne .es-why__text {
  color: #fff;
  font-family: "es-Gilroy-semibold";
  text-align: center;
  margin: 0;
}
#es-sanofi.es-sanofi #es-magne.es-magne .es-why__text--light {
  font-family: "es-Gilroy-regular";
}
#es-sanofi.es-sanofi #es-magne.es-magne .es-why__contentCtn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#es-sanofi.es-sanofi #es-magne.es-magne .es-why__infoCtn {
  background-image: url(./img/es-why__bg.webp);
  background-repeat: no-repeat;
  background-position: left;
  background-size: contain;
  min-height: 200px;
  padding: 0px 20px;
  margin-top: -10px;
  width: 100%;
  display: flex;
  align-items: center;
}
#es-sanofi.es-sanofi #es-magne.es-magne .es-why__info {
  font-size: 16px;
  line-height: 1.3;
  margin-top: 10px;
  color: #001883;
  font-family: "es-Bliss-heavy";
  font-size: 16px;
}
#es-sanofi.es-sanofi #es-magne.es-magne .es-why__slides {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
}
#es-sanofi.es-sanofi #es-magne.es-magne .es-why__slides:before {
  content: url("./img/es-how-sadFace.webp");
  transform: scale(0.6);
  position: absolute;
  top: -100px;
  right: 0;
}
#es-sanofi.es-sanofi #es-magne.es-magne .es-why__slideText {
  font-size: 16px;
  line-height: 1.3;
  margin-top: 10px;
  color: #001883;
  font-family: "es-Gilroy-regular";
  text-align: center;
  padding: 10px;
  width: 250px;
  min-height: 100px;
}
#es-sanofi.es-sanofi #es-magne.es-magne .es-why__slideText--title {
  font-family: "es-Gilroy-semibold";
  min-height: 40px;
}
#es-sanofi.es-sanofi #es-magne.es-magne .es-why__arrow {
  cursor: pointer;
  border: none;
  background-color: transparent;
  margin: 0;
}
@media (min-width: 750px) {
  #es-sanofi.es-sanofi #es-magne.es-magne .es-why:after {
    content: "";
  }
  #es-sanofi.es-sanofi #es-magne.es-magne .es-why__contentCtn {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }
  #es-sanofi.es-sanofi #es-magne.es-magne .es-why__title {
    font-family: "es-Gilroy-semibold";
    color: #78a9df;
    font-size: 42px;
    text-align: center;
  }
  #es-sanofi.es-sanofi #es-magne.es-magne .es-why__textCtn {
    border-radius: 50px;
    max-width: 70%;
  }
  #es-sanofi.es-sanofi #es-magne.es-magne .es-why__infoCtn {
    background-position: center;
    background-size: 100% 100%;
    max-width: 35%;
    margin-top: -20px;
    min-height: 350px;
    padding-inline: 21px;
  }
  #es-sanofi.es-sanofi #es-magne.es-magne .es-why__info {
    font-size: 20px;
  }
  #es-sanofi.es-sanofi #es-magne.es-magne .es-why__slides {
    min-width: 50%;
    margin: auto;
  }
  #es-sanofi.es-sanofi #es-magne.es-magne .es-why__slides:before {
    content: "";
  }
  #es-sanofi.es-sanofi #es-magne.es-magne .es-why__slideText {
    width: 400px;
    font-size: 20px;
    min-height: 150px;
  }
  #es-sanofi.es-sanofi #es-magne.es-magne .es-why__slideText sup {
    font-size: 14px;
  }
  #es-sanofi.es-sanofi #es-magne.es-magne .es-why__slideText--title {
    font-size: 25px;
    min-height: 40px;
  }
}
@media (min-width: 950px) {
  #es-sanofi.es-sanofi #es-magne.es-magne .es-why__info {
    font-size: 25px;
  }
}
#es-sanofi.es-sanofi #es-magne.es-magne .es-container {
  background-image: none;
}
@media (min-width: 750px) {
  #es-sanofi.es-sanofi #es-magne.es-magne .es-container {
    background-image: url(./img/es-how-bg.webp);
    background-repeat: no-repeat;
    background-position: right top;
    background-size: 45%;
  }
}
#es-sanofi.es-sanofi #es-magne.es-magne .es-how {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 14px;
}
#es-sanofi.es-sanofi #es-magne.es-magne .es-how__content {
  width: 100%;
}
#es-sanofi.es-sanofi #es-magne.es-magne .es-how__title {
  font-size: 16px;
  line-height: 1.3;
  margin-top: 10px;
  font-family: "es-Gilroy-semibold";
  color: #001883;
  font-size: 30px;
  position: relative;
}
#es-sanofi.es-sanofi #es-magne.es-magne .es-how__desc {
  font-size: 16px;
  line-height: 1.3;
  margin-top: 10px;
  max-width: 500px;
  font-family: "es-Gilroy-semibold";
  color: #001883;
}
#es-sanofi.es-sanofi #es-magne.es-magne .es-how__imgCtn {
  max-width: 50%;
  align-self: flex-end;
  margin-top: -60%;
}
#es-sanofi.es-sanofi #es-magne.es-magne .es-how__list {
  font-family: "es-Gilroy-regular";
  color: #001883;
  font-size: 16px;
  max-width: 50%;
  position: relative;
}
#es-sanofi.es-sanofi #es-magne.es-magne .es-how__list::after {
  content: url(./img/es-how-happyFace.webp);
  display: block;
  position: absolute;
  left: 10%;
  bottom: -50%;
  transform: scale(0.5);
}
@media (min-width: 750px) {
  #es-sanofi.es-sanofi #es-magne.es-magne .es-how {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }
  #es-sanofi.es-sanofi #es-magne.es-magne .es-how::after {
    content: url(./img/es-how-happyFace.webp);
    display: block;
    position: absolute;
    right: 10%;
    bottom: -10%;
    transform: scale(1);
  }
  #es-sanofi.es-sanofi #es-magne.es-magne .es-how__content {
    width: 40%;
    margin: auto;
  }
  #es-sanofi.es-sanofi #es-magne.es-magne .es-how__title {
    font-family: "es-Gilroy-semibold";
    color: #001883;
    font-size: 42px;
    text-align: center;
  }
  #es-sanofi.es-sanofi #es-magne.es-magne .es-how__desc {
    font-size: 20px;
  }
  #es-sanofi.es-sanofi #es-magne.es-magne .es-how__imgCtn {
    max-width: 400px;
    margin-top: unset;
    position: relative;
  }
  #es-sanofi.es-sanofi #es-magne.es-magne .es-how__imgCtn::before {
    content: url(./img/es-how-sadFace.webp);
    display: block;
    position: absolute;
    top: -15%;
    left: -7%;
    transform: scale(1);
  }
  #es-sanofi.es-sanofi #es-magne.es-magne .es-how__list {
    max-width: unset;
  }
  #es-sanofi.es-sanofi #es-magne.es-magne .es-how__list::after {
    content: "";
  }
  #es-sanofi.es-sanofi #es-magne.es-magne .es-how__listItem {
    font-size: 20px;
  }
}
#es-sanofi.es-sanofi #es-magne.es-magne .es-symptoms {
  padding: 14px;
}
#es-sanofi.es-sanofi #es-magne.es-magne .es-symptoms__title {
  font-size: 16px;
  line-height: 1.3;
  margin-top: 10px;
  font-family: "es-Gilroy-semibold";
  color: #001883;
  font-size: 30px;
}
#es-sanofi.es-sanofi #es-magne.es-magne .es-symptoms__textCtn {
  background-color: #78a9df;
  border-radius: 99px;
  max-width: 90%;
  margin: 0 auto;
}
#es-sanofi.es-sanofi #es-magne.es-magne .es-symptoms__text {
  font-size: 16px;
  line-height: 1.3;
  margin-top: 10px;
  color: #fff;
  text-align: center;
  font-family: "es-Gilroy-semibold";
  padding-inline: 30px;
  padding-block: 15px;
}
#es-sanofi.es-sanofi #es-magne.es-magne .es-symptoms__subtitle {
  font-size: 16px;
  line-height: 1.3;
  margin-top: 10px;
  color: #78a9df;
  font-family: "es-Gilroy-semibold";
  font-size: 20px;
  text-align: center;
  margin-top: 20px;
}
#es-sanofi.es-sanofi #es-magne.es-magne .es-symptoms__bottomCtn {
  background-image: url(./img/es-symptoms-bg.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  position: relative;
}
#es-sanofi.es-sanofi #es-magne.es-magne .es-symptoms__bodyCtn {
  position: relative;
  max-width: 250px;
  z-index: 0;
}
#es-sanofi.es-sanofi #es-magne.es-magne .es-symptoms__contentCtn {
  text-align: center;
}
#es-sanofi.es-sanofi #es-magne.es-magne .es-symptoms__bodyImg {
  display: block;
  margin: 0 auto;
  z-index: 0;
  max-width: 230px;
  max-height: 480px;
}
#es-sanofi.es-sanofi #es-magne.es-magne .es-symptoms__magnifierGlass {
  position: absolute;
  cursor: none;
  width: 510px;
  height: 510px;
  margin-left: -255px;
  margin-top: -255px;
  transition: left 0.4s ease-in, top 0.4s ease-in;
}
#es-sanofi.es-sanofi #es-magne.es-magne .es-symptoms__magnifierGlass img {
  transition: all 0.4s ease-in;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
#es-sanofi.es-sanofi #es-magne.es-magne .es-symptoms__singleItem {
  margin-left: -150px;
  display: block;
  z-index: 10;
  position: relative;
  color: #001883;
  transition: 0.2s ease-in-out;
}
#es-sanofi.es-sanofi #es-magne.es-magne .es-symptoms__singleItem.es-currentlySelected {
  transform: scale(1.15);
}
#es-sanofi.es-sanofi #es-magne.es-magne .es-symptoms__singleText {
  font-size: 16px;
  line-height: 1.3;
  margin-top: 10px;
  text-align: left;
  font-family: "es-Gilroy-semibold";
  color: #001883;
  font-size: 18px;
  padding-left: 140px;
  margin: 10px 0;
}
@media (min-width: 750px) {
  #es-sanofi.es-sanofi #es-magne.es-magne .es-symptoms__title {
    font-family: "es-Gilroy-semibold";
    color: #001883;
    font-size: 42px;
    text-align: center;
  }
  #es-sanofi.es-sanofi #es-magne.es-magne .es-symptoms__subtitle {
    font-size: 16px;
    line-height: 1.3;
    margin-top: 10px;
    font-size: 25px;
  }
  #es-sanofi.es-sanofi #es-magne.es-magne .es-symptoms__textCtn {
    border-radius: 50px;
    padding: 20px;
  }
  #es-sanofi.es-sanofi #es-magne.es-magne .es-symptoms__text {
    position: relative;
  }
  #es-sanofi.es-sanofi #es-magne.es-magne .es-symptoms__text::before {
    content: url(./img/es-symptoms-lineTop.webp);
    display: block;
    position: absolute;
    top: -30px;
    left: -40px;
  }
  #es-sanofi.es-sanofi #es-magne.es-magne .es-symptoms__text::after {
    content: url(./img/es-symptoms-lineBottom.webp);
    display: block;
    position: absolute;
    bottom: -30px;
    right: -40px;
  }
  #es-sanofi.es-sanofi #es-magne.es-magne .es-symptoms__bottomCtn {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
  #es-sanofi.es-sanofi #es-magne.es-magne .es-symptoms__contentCtn {
    position: absolute;
    right: 0%;
  }
  #es-sanofi.es-sanofi #es-magne.es-magne .es-symptoms__singleText {
    font-size: 16px;
    line-height: 1.3;
    margin-top: 10px;
    padding-left: 140px;
    font-size: 18px;
    margin: 30px 0;
  }
}
@media (min-width: 950px) {
  #es-sanofi.es-sanofi #es-magne.es-magne .es-symptoms__contentCtn {
    position: absolute;
    right: 5%;
  }
}
@media (min-width: 1000px) {
  #es-sanofi.es-sanofi #es-magne.es-magne .es-symptoms__contentCtn {
    position: absolute;
    right: 10%;
  }
}
#es-sanofi.es-sanofi #es-magne.es-magne .es-activeInfo {
  margin: 50px 0;
  z-index: 10;
  position: relative;
}
#es-sanofi.es-sanofi #es-magne.es-magne .es-activeInfo__mainCtn {
  margin-top: -200px;
}
#es-sanofi.es-sanofi #es-magne.es-magne .es-activeInfo__ctn {
  background-color: #001883;
  color: #fff;
  border-radius: 99px;
  padding: 6px;
  width: 90%;
  margin: 0 auto;
  position: relative;
}
#es-sanofi.es-sanofi #es-magne.es-magne .es-activeInfo__ctn::after {
  content: none;
}
#es-sanofi.es-sanofi #es-magne.es-magne .es-activeInfo__title {
  font-size: 16px;
  line-height: 1.3;
  margin-top: 10px;
  text-align: center;
  font-size: 25px;
  font-family: "es-Bliss-heavy";
}
#es-sanofi.es-sanofi #es-magne.es-magne .es-activeInfo__title--blue {
  color: #001883;
}
#es-sanofi.es-sanofi #es-magne.es-magne .es-activeInfo__desc {
  font-size: 16px;
  line-height: 1.3;
  margin-top: 10px;
  text-align: center;
  font-family: "es-Gilroy-regular";
}
#es-sanofi.es-sanofi #es-magne.es-magne .es-activeInfo__desc--blue {
  color: #001883;
}
#es-sanofi.es-sanofi #es-magne.es-magne .es-activeInfo__bottomCtn {
  background-color: transparent;
  margin: 0 auto;
  width: 80%;
  max-width: 600px;
  padding: 20px;
  display: flex;
  align-items: center;
  gap: 20px;
  margin: auto;
}
#es-sanofi.es-sanofi #es-magne.es-magne .es-activeInfo__bottomCtn::after {
  content: none;
}
#es-sanofi.es-sanofi #es-magne.es-magne .es-activeInfo__questionCtn {
  background-image: url(./img/es-how-numberBg.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 160px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#es-sanofi.es-sanofi #es-magne.es-magne .es-activeInfo__question {
  font-size: 60px;
  font-family: "es-Bliss-heavy";
  color: #001883;
  margin: 0;
}
#es-sanofi.es-sanofi #es-magne.es-magne .es-activeInfo__bottomTitle {
  font-size: 16px;
  line-height: 1.3;
  margin-top: 10px;
  text-align: left;
  font-size: 20px;
  font-family: "es-Gilroy-semibold";
  color: #001883;
  margin: 0;
  padding: 0;
}
#es-sanofi.es-sanofi #es-magne.es-magne .es-activeInfo__bottomDesc {
  font-size: 16px;
  line-height: 1.3;
  margin-top: 10px;
  text-align: left;
  font-family: "es-Gilroy-regular";
  color: #001883;
  margin: 5px 0;
  padding: 0;
}
@media (min-width: 750px) {
  #es-sanofi.es-sanofi #es-magne.es-magne .es-activeInfo {
    margin-top: 0px;
  }
  #es-sanofi.es-sanofi #es-magne.es-magne .es-activeInfo__mainCtn {
    margin-top: -200px;
  }
  #es-sanofi.es-sanofi #es-magne.es-magne .es-activeInfo__ctn {
    padding: 20px 40px;
    width: 70%;
    border-radius: 100px;
  }
  #es-sanofi.es-sanofi #es-magne.es-magne .es-activeInfo__ctn::after {
    content: url(./img/es-active-line-top.webp);
    display: block;
    position: absolute;
    top: -84px;
    right: -60px;
    transform: scale(0.8);
  }
  #es-sanofi.es-sanofi #es-magne.es-magne .es-activeInfo__bottomCtn {
    position: relative;
    background-color: transparent;
    margin: 0 auto;
    max-width: 500px;
    padding: 20px;
  }
  #es-sanofi.es-sanofi #es-magne.es-magne .es-activeInfo__bottomCtn::after {
    content: url(./img/es-active-line-bottom.webp);
    display: block;
    position: absolute;
    bottom: 20px;
    left: -50px;
    transform: scale(0.8);
  }
  #es-sanofi.es-sanofi #es-magne.es-magne .es-activeInfo__questionCtn {
    position: absolute;
    top: -20px;
    left: -90px;
    background-image: url(./img/es-how-numberBg.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media (min-width: 950px) {
  #es-sanofi.es-sanofi #es-magne.es-magne .es-activeInfo {
    margin-top: -150px;
  }
}
@media (min-width: 1100px) {
  #es-sanofi.es-sanofi #es-magne.es-magne .es-activeInfo {
    margin-top: -200px;
  }
}
#es-sanofi.es-sanofi #es-magne.es-magne .es-exercise {
  padding: 14px;
}
#es-sanofi.es-sanofi #es-magne.es-magne .es-exercise__title {
  font-size: 16px;
  line-height: 1.3;
  margin-top: 10px;
  font-family: "es-Gilroy-semibold";
  color: #001883;
  font-size: 30px;
}
#es-sanofi.es-sanofi #es-magne.es-magne .es-exercise__slides {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 450px;
}
#es-sanofi.es-sanofi #es-magne.es-magne .es-exercise__slide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#es-sanofi.es-sanofi #es-magne.es-magne .es-exercise__arrow {
  cursor: pointer;
  border: none;
  background-color: transparent;
  margin-top: 100px;
}
#es-sanofi.es-sanofi #es-magne.es-magne .es-exercise__imgCtn img {
  max-height: 100%;
}
#es-sanofi.es-sanofi #es-magne.es-magne .es-exercise__descCtn {
  padding: 20px;
}
#es-sanofi.es-sanofi #es-magne.es-magne .es-exercise__descTitle {
  font-size: 16px;
  line-height: 1.3;
  margin-top: 10px;
  text-transform: uppercase;
  font-size: 25px;
  font-family: "es-Gilroy-semibold";
  color: #001883;
  margin-top: 20px;
}
#es-sanofi.es-sanofi #es-magne.es-magne .es-exercise__descTitle--bright {
  color: #78a9df;
}
#es-sanofi.es-sanofi #es-magne.es-magne .es-exercise__descList {
  font-size: 16px;
  line-height: 1.3;
  margin-top: 10px;
  margin: 0;
  padding: 0;
  color: #001883;
}
#es-sanofi.es-sanofi #es-magne.es-magne .es-exercise__descItem {
  font-size: 16px;
  line-height: 1.3;
  margin-top: 10px;
  margin: 0;
  padding: 0;
  color: #001883;
  font-family: "es-Gilroy-regular";
}
#es-sanofi.es-sanofi #es-magne.es-magne .es-exercise__descItem--bold {
  font-family: "es-Gilroy-semibold";
}
@media (min-width: 750px) {
  #es-sanofi.es-sanofi #es-magne.es-magne .es-exercise__title {
    font-family: "es-Gilroy-semibold";
    color: #001883;
    font-size: 42px;
    text-align: center;
  }
  #es-sanofi.es-sanofi #es-magne.es-magne .es-exercise__title sup {
    font-size: 18px;
  }
  #es-sanofi.es-sanofi #es-magne.es-magne .es-exercise__slides {
    align-items: center;
  }
  #es-sanofi.es-sanofi #es-magne.es-magne .es-exercise__imgCtn {
    width: 45%;
  }
  #es-sanofi.es-sanofi #es-magne.es-magne .es-exercise__imgCtn img {
    max-width: 100%;
  }
  #es-sanofi.es-sanofi #es-magne.es-magne .es-exercise__descCtn {
    width: 55%;
    padding-inline: 22px;
  }
  #es-sanofi.es-sanofi #es-magne.es-magne .es-exercise__descList {
    padding-inline: 22px;
  }
  #es-sanofi.es-sanofi #es-magne.es-magne .es-exercise__arrow {
    margin-top: unset;
  }
  #es-sanofi.es-sanofi #es-magne.es-magne .es-exercise__slide {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}
#es-sanofi.es-sanofi #es-magne.es-magne .es-faq {
  padding: 14px;
}
#es-sanofi.es-sanofi #es-magne.es-magne .es-faq__title {
  font-size: 16px;
  line-height: 1.3;
  margin-top: 10px;
  font-family: "es-Gilroy-semibold";
  color: #001883;
  font-size: 30px;
  text-align: left;
  margin: 0 auto;
}
#es-sanofi.es-sanofi #es-magne.es-magne .es-faq__item {
  cursor: pointer;
  margin: 10px;
}
#es-sanofi.es-sanofi #es-magne.es-magne .es-faq__question {
  font-size: 16px;
  line-height: 1.3;
  margin-top: 10px;
  font-family: "es-Gilroy-semibold";
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  width: 100%;
  background: #001883;
  color: #fff;
  padding: 10px 20px;
  border-radius: 30px;
}
#es-sanofi.es-sanofi #es-magne.es-magne .es-faq__rotate {
  transform: rotate(-180deg);
}
#es-sanofi.es-sanofi #es-magne.es-magne .es-faq__answer {
  font-size: 16px;
  line-height: 1.3;
  margin-top: 10px;
  font-family: "es-Gilroy-regular";
  color: #001883;
  padding: 0px 20px;
  margin-top: 10px;
}
#es-sanofi.es-sanofi #es-magne.es-magne .es-faq__answerItem {
  font-size: 16px;
  line-height: 1.3;
  margin-top: 10px;
  font-family: "es-Gilroy-regular";
  color: #001883;
}
@media (min-width: 750px) {
  #es-sanofi.es-sanofi #es-magne.es-magne .es-faq__title {
    font-family: "es-Gilroy-semibold";
    color: #001883;
    font-size: 42px;
    text-align: center;
  }
}
#es-sanofi.es-sanofi #es-magne.es-magne .es-articles {
  padding: 14px;
  background-image: url("./img/es-symptoms-bg.webp");
  background-repeat: no-repeat;
  background-size: 130%;
  background-position: bottom 40% left -40%;
}
#es-sanofi.es-sanofi #es-magne.es-magne .es-articles__title {
  font-size: 16px;
  line-height: 1.3;
  margin-top: 10px;
  font-family: "es-Gilroy-semibold";
  color: #001883;
  font-size: 30px;
}
#es-sanofi.es-sanofi #es-magne.es-magne .es-articles__ctn {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}
#es-sanofi.es-sanofi #es-magne.es-magne .es-articles__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 60%;
}
#es-sanofi.es-sanofi #es-magne.es-magne .es-articles__subtitle {
  font-size: 16px;
  line-height: 1.3;
  margin-top: 10px;
  font-family: "es-Gilroy-semibold";
  color: #001883;
  font-size: 16px;
  margin-top: 20px;
}
#es-sanofi.es-sanofi #es-magne.es-magne .es-articles__link {
  text-decoration: none;
  color: #001e61;
  background-color: #FFF;
  border: 2px solid #001e61;
  border-radius: 20px;
  padding: 5px 20px;
  font-family: "es-Gilroy-semibold";
  font-size: 18px;
  transition: 0.4s ease-in-out;
  display: block;
  width: 150px;
  text-align: center;
  margin: auto;
  width: 210px;
}
#es-sanofi.es-sanofi #es-magne.es-magne .es-articles__link:hover {
  background-color: #001e61;
  color: #fff;
}
@media (min-width: 750px) {
  #es-sanofi.es-sanofi #es-magne.es-magne .es-articles {
    background-image: none;
  }
  #es-sanofi.es-sanofi #es-magne.es-magne .es-articles__title {
    font-family: "es-Gilroy-semibold";
    color: #001883;
    font-size: 42px;
    text-align: center;
  }
  #es-sanofi.es-sanofi #es-magne.es-magne .es-articles__ctn {
    flex-wrap: nowrap;
    align-items: center;
  }
  #es-sanofi.es-sanofi #es-magne.es-magne .es-articles__item {
    align-items: center;
    min-width: 300px;
    max-width: 500px;
    min-height: 450px;
  }
  #es-sanofi.es-sanofi #es-magne.es-magne .es-articles__subtitle {
    text-align: center;
  }
}
#es-sanofi.es-sanofi #es-magne.es-magne .es-productsDesc {
  padding: 10px;
}
#es-sanofi.es-sanofi #es-magne.es-magne .es-productsDesc__item {
  font-size: 16px;
  line-height: 1.3;
  margin-top: 10px;
  font-family: "es-Gilroy-regular";
  color: #001883;
  font-size: 14px;
  line-height: 1.4;
}
#es-sanofi.es-sanofi #es-magne.es-magne .es-productsDesc__item span {
  font-family: "es-Gilroy-semibold";
}
#es-sanofi.es-sanofi #es-magne.es-magne .es-productsDesc__item sub {
  font-size: x-small;
}
#es-sanofi.es-sanofi #es-magne.es-magne .es-claims {
  padding: 14px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
#es-sanofi.es-sanofi #es-magne.es-magne .es-claims__title {
  font-size: 16px;
  line-height: 1.3;
  margin-top: 10px;
  font-size: 16px;
  font-family: "es-Gilroy-semibold";
  color: #001883;
}
#es-sanofi.es-sanofi #es-magne.es-magne .es-claims__list {
  margin: 0;
  padding: 10px;
}
#es-sanofi.es-sanofi #es-magne.es-magne .es-claims__claim {
  font-size: 16px;
  line-height: 1.3;
  margin-top: 10px;
  font-size: 14px;
  font-family: "es-Gilroy-regular";
  color: #001883;
  padding: 0 10px;
  margin-top: 5px;
}
#es-sanofi.es-sanofi #es-magne.es-magne .es-claims__claim sub {
  font-size: x-small;
}
#es-sanofi.es-sanofi #es-magne.es-magne .es-claims__warning {
  font-size: 16px;
  line-height: 1.3;
  margin-top: 10px;
  font-family: "es-Gilroy-semibold";
  color: #001883;
  font-size: 18px;
  color: #78a9df;
}
#es-sanofi.es-sanofi #es-magne.es-magne .es-claims__number {
  font-size: 16px;
  line-height: 1.3;
  margin-top: 10px;
  font-size: 14px;
  font-family: "es-Gilroy-regular";
  color: #001883;
}
#es-sanofi.es-sanofi #es-magne.es-magne .es-claims__logo {
  align-self: flex-end;
}/*# sourceMappingURL=style.css.map */