// adaptations widths
$es-melissa: 790px;
$es-melissa-landing: 1200px;
$es-olmed: 1338px;
$es-ziko: 960px;
$es-cefarm: 1190px;
$es-superpharm: 769px;


$es-main-text-color: #001883;
$es-dark-color: #001e61;
$es-main-text-light-color: #78a9df;

$es-btn--arrow--mobile: 32px;

$es-regular: "es-Gilroy-semibold";
$es-thin: "es-Gilroy-regular";
$es-title: "es-Bliss-heavy";